#exportPattern("^[[:alpha:]]+")

# Importing mandatory packages
import(ape)
import(ggplot2)
import(gridExtra)
import(phangorn)
import(reshape)

# Exporting self functions
export(CommT.anova)
export(CommT.kfdist)
export(CommT.legendpos)
export(CommT.viz)

# Exporting other functions
#export(dist.nodes)
#export(is.binary.tree)
#export(unroot)
